<div style="margin: 16px; color: rgb(239, 108, 0);">
  <div style="display:block; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 1px 1px 1px 1px #ccc;">
      <h3 style="font-size: 1.1em; font-weight: bold;">Rank Even Higher on Google</h3>
      <span style="color: rgb(239, 108, 0); font-size: 13px; line-height: 25px">Google recommends an author for this recipe. Authors can set in the premium version. <a style="color: rgb(239, 108, 0);" href="https://www.ziprecipes.net/promo/author_missing" target="_blank">Learn more.</a></span>
  </div>
</div>
