<div class="notice notice-warning is-dismissible"> 
    <p>{% trans %}For the best performance, Zip Recipes recommends ImageMagick or GD PHP extensions installed. Please contact your hosting company and request that they install ImageMagick or GD PHP extensions for you website.{% endtrans %}</p>
</div>
