.zrdn-grid {
  margin-left: 25px;
  position: relative;
}
.zrdn-grid .zrdn-item {
  width: 800px;
  position: absolute;
  height: 500px;
  z-index: 1;
}
.zrdn-grid .zrdn-item.small {
  width: 400px;
}
.zrdn-grid .zrdn-item.muuri-item-hidden {
  z-index: 0;
}
.zrdn-grid .zrdn-item.muuri-item-releasing {
  z-index: 2;
}
.zrdn-grid .zrdn-item.muuri-item-dragging {
  z-index: 3;
}
.zrdn-grid .zrdn-item .zrdn-grid-header {
  cursor: pointer;
  padding: 0;
  height: 60px;
}
.zrdn-grid .zrdn-item .zrdn-grid-header .zrdn-grid-header-container {
  margin: 0;
  border-bottom: 1px solid #dedede;
  height: 100%;
}
.zrdn-grid .zrdn-item .zrdn-grid-header .zrdn-grid-title {
  font-size: 1.2em;
  padding: 26px 30px 0;
  font-weight: bold;
  float: left;
}
.zrdn-grid .zrdn-item .zrdn-grid-header .zrdn-grid-controls {
  float: right;
  margin-top: 20px;
}
.zrdn-grid .zrdn-item .item-container {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.2);
  width: 780px;
  height: 480px;
}
.zrdn-grid .zrdn-item .item-container .item-content {
  clear: both;
  margin: 0 20px;
  height: calc(100% - 100px);
  padding-top: 15px;
  padding-bottom: 10px;
}
.zrdn-grid .zrdn-item.half-height .item-container {
  height: 250px;
}
.zrdn-grid .zrdn-item.small .item-container {
  width: 380px;
}
.zrdn-grid .zrdn-item.no-border .item-container {
  border: none;
}
.zrdn-grid .zrdn-item.no-background .item-container {
  background-color: #F1F1F1;
}
.zrdn-grid .zrdn-item.muuri-item-placeholder .item-container {
  border-style: dashed;
  padding: 0;
}
.zrdn-grid .upsell-grid-container .item-container {
  box-shadow: none;
}
.error {
  display: none;
}
label {
  margin: 0;
}
.field-group {
  display: flex;
  flex-direction: column;
}
.field-group .zrdn-label {
  min-width: 50%;
}
.br-wrapper {
  margin-top: 15px;
}
#zrdn-save-template-settings .field-group {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 10px;
}
#zrdn-save-template-settings .zrdn-save-template-settings {
  margin-top: 10px;
  margin-left: 0;
}
/* prevent color picker from getting below muuri grid, by moving it to the left */
.wp-picker-holder .iris-picker {
  left: -90px;
}
#zip-recipes label {
  font-size: 12px;
  white-space: nowrap;
  margin-right: 10px;
  font-weight: normal;
}
.zrdn__rating__user_rating {
  display: none;
}
#zrdn-recipe-container {
  width: 730px;
}
#zrdn-recipe-container .zrdn-grid-active-element .sub-item-content .zrdn-recipe-block-content {
  font-size: 16px;
}
#zrdn-recipe-container .zrdn-grid-active-element h1,
#zrdn-recipe-container .zrdn-grid-active-element h2 {
  margin: 0;
  line-height: 0.9em;
}
#zrdn-recipe-container .zrdn-grid-active-element h3,
#zrdn-recipe-container .zrdn-grid-active-element h4 {
  margin: 10px 0;
}
#zrdn-recipe-container .zrdn-grid-active-element .zrdn-recipe-image img {
  width: 100%;
  height: inherit;
}
#zrdn-recipe-container .zrdn-grid-active-element ul,
#zrdn-recipe-container .zrdn-grid-active-element ol {
  margin-left: 35px;
}
#zrdn-recipe-container .zrdn-grid-active-element ul li,
#zrdn-recipe-container .zrdn-grid-active-element ol li {
  line-height: 1.8em;
}
#zrdn-recipe-container .zrdn-grid-active-element ul li:before,
#zrdn-recipe-container .zrdn-grid-active-element ol li:before {
  top: 2px;
  left: -35px;
  font-size: 17px;
  line-height: 23px;
}
ul {
  list-style: initial;
}
ol {
  list-style: decimal;
}
.zrdn-main-container {
  margin-top: 20px;
}
.zrdn-main-container .zrdn-width-0 {
  display: none;
}
.zrdn-main-container .zrdn-inactive-container .zrdn-sub-grid .sub-item-content .zrdn-recipe-block {
  background-color: #fff;
}
.zrdn-main-container .zrdn-inactive-container > .item-container {
  background-color: inherit;
  box-shadow: inherit;
}
.zrdn-main-container .zrdn-inactive-container .item-container {
  width: 390px;
}
.zrdn-main-container .zrdn-inactive-container .item-container .item-content {
  margin: 0;
}
.zrdn-main-container .zrdn-inactive-container .zrdn-recipe-block-content {
  display: none;
}
.zrdn-main-container .zrdn-active-container .zrdn-recipe-block-label {
  display: none;
}
.zrdn-main-container .zrdn-active-container .zrdn-reset-template-settings {
  display: none;
}
.zrdn-main-container .zrdn-grid .zrdn-item {
  position: relative;
  float: left;
  min-height: 850px;
  margin-bottom: 20px;
}
.zrdn-main-container .zrdn-grid .zrdn-item .item-container {
  height: inherit;
  min-height: 630px;
}
.zrdn-main-container .zrdn-grid .zrdn-item .item-container .sub-item-content {
  height: 40px;
  /**/
  margin: 0;
}
.zrdn-block-100 .zrdn-sub-grid {
  min-height: 50px;
}
.zrdn-block-50 .zrdn-sub-grid {
  min-height: 100px;
}
.zrdn-sub-grid {
  position: relative;
}
.zrdn-sub-grid .sub-item-content .zrdn-recipe-block {
  border-radius: 5px;
  box-shadow: 1px 1px #dedede;
  background-color: transparent;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  height: 20px;
  /**/
  padding: 12px 10px 8px 10px;
}
.zrdn-grid-item {
  position: absolute;
  height: 50px;
  /**/
  z-index: 1;
}
.zrdn-grid-item.muuri-item-hidden {
  z-index: 0;
}
.zrdn-grid-item.muuri-item-releasing {
  z-index: 2;
}
.zrdn-grid-item.muuri-item-dragging {
  z-index: 3;
}
.zrdn-grid-item .sub-item-content {
  position: relative;
  width: 300px;
  font-size: 13px;
  cursor: grab;
}
.zrdn-grid-item.muuri-item-dragging .sub-item-content .zrdn-recipe-block,
.zrdn-grid-item.muuri-item-releasing .sub-item-content .zrdn-recipe-block {
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  box-shadow: 1px 1px #dedede;
  background-color: #fff;
  padding: 10px;
}
.zrdn-grid-item.muuri-item-dragging .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-content,
.zrdn-grid-item.muuri-item-releasing .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-content {
  display: none;
}
.zrdn-grid-item.muuri-item-dragging .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-settings,
.zrdn-grid-item.muuri-item-releasing .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-settings {
  visibility: hidden;
}
.zrdn-grid-item.muuri-item-dragging .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-label,
.zrdn-grid-item.muuri-item-releasing .sub-item-content .zrdn-recipe-block .zrdn-recipe-block-label {
  height: 100%;
}
.zrdn-highlight-dragarea {
  border-radius: 5px;
  margin-right: 9px;
  margin-bottom: 20px;
  border: 1px solid #61ce70 !important;
  background-color: #e9f8eb !important;
}
.zrdn-grid-item.muuri-item-placeholder .zrdn-recipe-block {
  border: 1px solid #61ce70 !important;
  background-color: #e9f8eb !important;
  opacity: 0.5;
}
.zrdn-grid-item.muuri-item-placeholder .zrdn-recipe-block .zrdn-recipe-block-content {
  display: none;
}
.zrdn-grid-item.muuri-item-placeholder .zrdn-recipe-block .zrdn-recipe-block-label {
  display: block;
}
.zrdn-grid-item.muuri-item-placeholder .zrdn-recipe-block .zrdn-recipe-block-settings {
  visibility: hidden;
}
.zrdn-active-container .item-container .zrdn-grid-item {
  height: 100px;
}
.zrdn-active-container .item-container .zrdn-grid-item .sub-item-content {
  height: 90px;
}
.zrdn-active-container .item-container .zrdn-grid-item .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item .sub-item-content .zrdn-recipe-block-content {
  min-height: 70px;
}
.zrdn-active-container .item-container .zrdn-grid-item.empty,
.zrdn-active-container .item-container .zrdn-grid-item.divider,
.zrdn-active-container .item-container .zrdn-grid-item.actions,
.zrdn-active-container .item-container .zrdn-grid-item.recipe_title,
.zrdn-active-container .item-container .zrdn-grid-item.summary,
.zrdn-active-container .item-container .zrdn-grid-item.copyright {
  height: 50px;
}
.zrdn-active-container .item-container .zrdn-grid-item.empty .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.divider .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.actions .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.recipe_title .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.summary .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.copyright .sub-item-content {
  height: 40px;
}
.zrdn-active-container .item-container .zrdn-grid-item.empty .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.divider .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.actions .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.recipe_title .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.summary .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.copyright .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.empty .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.divider .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.actions .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.recipe_title .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.summary .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.copyright .sub-item-content .zrdn-recipe-block-content {
  min-height: 20px;
}
.zrdn-active-container .item-container .zrdn-grid-item.details,
.zrdn-active-container .item-container .zrdn-grid-item.category,
.zrdn-active-container .item-container .zrdn-grid-item.notes {
  height: 150px;
}
.zrdn-active-container .item-container .zrdn-grid-item.details .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.category .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.notes .sub-item-content {
  height: 140px;
}
.zrdn-active-container .item-container .zrdn-grid-item.details .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.category .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.notes .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.details .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.category .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.notes .sub-item-content .zrdn-recipe-block-content {
  min-height: 120px;
}
.zrdn-active-container .item-container .zrdn-grid-item.author {
  height: 100px;
}
.zrdn-active-container .item-container .zrdn-grid-item.author .sub-item-content {
  height: 90px;
}
.zrdn-active-container .item-container .zrdn-grid-item.author .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.author .sub-item-content .zrdn-recipe-block-content {
  min-height: 70px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_text {
  height: 300px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_text .sub-item-content {
  height: 290px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_text .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_text .sub-item-content .zrdn-recipe-block-content {
  min-height: 270px;
}
.zrdn-active-container .item-container .zrdn-grid-item.ingredients,
.zrdn-active-container .item-container .zrdn-grid-item.instructions {
  height: 300px;
}
.zrdn-active-container .item-container .zrdn-grid-item.ingredients .sub-item-content,
.zrdn-active-container .item-container .zrdn-grid-item.instructions .sub-item-content {
  height: 290px;
}
.zrdn-active-container .item-container .zrdn-grid-item.ingredients .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.instructions .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.ingredients .sub-item-content .zrdn-recipe-block-content,
.zrdn-active-container .item-container .zrdn-grid-item.instructions .sub-item-content .zrdn-recipe-block-content {
  min-height: 270px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_label {
  height: 700px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_label .sub-item-content {
  height: 690px;
}
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_label .sub-item-content .zrdn-recipe-block,
.zrdn-active-container .item-container .zrdn-grid-item.nutrition_label .sub-item-content .zrdn-recipe-block-content {
  min-height: 670px;
}
#zrdn-recipe-container .zrdn-block {
  min-height: 50px;
  padding: 0;
}
#zrdn-recipe-container .zrdn-block.zrdn-block-50 {
  padding: 0;
}
#zrdn-recipe-container .zrdn-block-100 .recipe_image,
#zrdn-recipe-container .zrdn-block-100 .video {
  height: 450px;
}
#zrdn-recipe-container .zrdn-block-100 .recipe_image .sub-item-content,
#zrdn-recipe-container .zrdn-block-100 .video .sub-item-content {
  height: 440px;
}
#zrdn-recipe-container .zrdn-block-100 .recipe_image .sub-item-content .zrdn-recipe-block,
#zrdn-recipe-container .zrdn-block-100 .video .sub-item-content .zrdn-recipe-block {
  height: 420px;
}
#zrdn-recipe-container .zrdn-block-100 .recipe_image .sub-item-content .zrdn-recipe-block .zrdn-recipe-image img,
#zrdn-recipe-container .zrdn-block-100 .video .sub-item-content .zrdn-recipe-block .zrdn-recipe-image img {
  height: 420px;
}
#zrdn-recipe-container .zrdn-block-50 .recipe_image,
#zrdn-recipe-container .zrdn-block-50 .video {
  height: 250px;
}
#zrdn-recipe-container .zrdn-block-50 .recipe_image .sub-item-content,
#zrdn-recipe-container .zrdn-block-50 .video .sub-item-content {
  height: 240px;
}
#zrdn-recipe-container .zrdn-block-50 .recipe_image .sub-item-content .zrdn-recipe-block,
#zrdn-recipe-container .zrdn-block-50 .video .sub-item-content .zrdn-recipe-block {
  height: 220px;
}
#zrdn-recipe-container .zrdn-block-50 .recipe_image .sub-item-content .zrdn-recipe-block .zrdn-recipe-image img,
#zrdn-recipe-container .zrdn-block-50 .video .sub-item-content .zrdn-recipe-block .zrdn-recipe-image img {
  height: 220px;
}
#zrdn-recipe-container .zrdn-block-50 .ingredients,
#zrdn-recipe-container .zrdn-block-50 .instructions {
  height: 400px;
}
#zrdn-recipe-container .zrdn-block-50 .ingredients .sub-item-content,
#zrdn-recipe-container .zrdn-block-50 .instructions .sub-item-content {
  height: 390px;
}
#zrdn-recipe-container .zrdn-block-50 .ingredients .sub-item-content .zrdn-recipe-block,
#zrdn-recipe-container .zrdn-block-50 .instructions .sub-item-content .zrdn-recipe-block,
#zrdn-recipe-container .zrdn-block-50 .ingredients .sub-item-content .zrdn-recipe-block-content,
#zrdn-recipe-container .zrdn-block-50 .instructions .sub-item-content .zrdn-recipe-block-content {
  min-height: 370px;
}
#zrdn-recipe-container .zrdn-block-50 .nutrition_text {
  height: 400px;
}
#zrdn-recipe-container .zrdn-block-50 .nutrition_text .sub-item-content {
  height: 390px;
}
#zrdn-recipe-container .zrdn-block-50 .nutrition_text .sub-item-content .zrdn-recipe-block {
  height: 370px;
}
.zrdn-block-50 {
  width: 350px;
}
.zrdn-block-50 .sub-item-content {
  width: 350px;
}
.zrdn-block-100 {
  width: 720px;
}
.zrdn-block-100 .sub-item-content {
  width: 720px;
}
.zrdn-grid-active .zrdn-grid-item .zrdn-recipe-block {
  margin: 0 10px;
  padding: 10px;
}
/*
  column icon
*/
.zrdn-block {
  position: relative;
}
.zrdn-block-icon {
  cursor: pointer;
  position: absolute;
  right: -100px;
  top: 0;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px #dedede;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.zrdn-add-block + .zrdn-add-block {
  margin-left: 20px;
  margin-right: 20px;
}
.zrdn-grid-inactive .empty {
  display: none;
}
.empty.zrdn-grid-item .sub-item-content .zrdn-recipe-block {
  box-shadow: 0 0 #dedede;
  border: 1px dashed #dedede;
}
.zrdn-highlight-grid {
  border: 1px solid #61ce70 !important;
  background-color: #e9f8eb !important;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  -ms-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}
.zrdn-highlight-grid-warn {
  border: 1px solid #d7263d !important;
  background-color: #f3bcc3 !important;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  -ms-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}
.zrdn-reset-template-settings {
  margin-top: 20px;
  color: red;
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.zrdn-settings-changed {
  color: #61ce70;
  float: left;
  padding: 8px;
}
.zrdn-grid .zrdn-label,
.zrdn-label {
  margin: 10px 10px 10px 0;
}
#zrdn-save-template-settings .zrdn-grid .zrdn-label {
  margin: 0;
}
.zrdn-loader > div {
  background-color: #000;
}
.zrdn-grid-item .zrdn-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  color: #8d8888;
}
.zrdn-grid-item .zrdn-recipe-block-settings {
  background-color: #fff;
  display: none;
  box-shadow: 1px 1px #dedede;
  border-left: 1px solid #dedede;
  width: 100%;
  padding: 10px;
  margin-left: -11px;
}
.zrdn-grid-item .zrdn-recipe-block.settings-open {
  box-shadow: 1px 0px #dedede;
}
/*
        Upsell
*/
.zrdn-recipe-block-label.zrdn-premium,
.zrdn-recipe-block-label.zrdn-inactive {
  color: #aaa8a8;
}
.zrdn-premium-link,
.zrdn-inactive-block {
  float: right;
  font-size: 14px;
}
.zrdn-premium-link a,
.zrdn-inactive-block a {
  color: #29b6f6;
  font-size: 14px;
}
/*# sourceMappingURL=templates.css.map */