#wpadminbar{
  display:none;
}
#zrdn-recipe-container {
  .zrdn-element_recipe_image {
    cursor:pointer;
    position:relative;
    .zrdn-image-controls {
      .zrdn-edit-image-text, .zrdn-image-controls-divider, .zrdn_remove_image {
        padding: 7px 6px 0 0;
        font-size: 16px;
        float:left;}
      background-color: #000;
      color:#fff;
      padding: 5px 10px;
      position:absolute;
      top: 30px;
      right:30px;
      font-size: 20px;
       a {
        color:#fff;
      }
    }
  }
}

